/* Invoice */

a
{
	color: #F49500 ;
}

#addressTxtInvoice
{
	margin-top: 30px;
}

#amountNeeded
{
	color: #DB8908;
}

#shareLink
{
	color: #F49500;
}

.balance {
	font-size: 22px;
	line-height: 22px;
	text-align: center;
}

.raisedHolder
{
	display: inline-block;
	position: relative;
}

.raisedTxt
{
	display: inline-block;
	position: absolute;
	top: 22px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	color: #64657A;
	font-size: 14px;
	width: 170px;
}

#readMore
{
	color: #F49500;
	cursor: pointer;
}

#fundraiserHelp, #paymentRequestHelp
{
	display: none;
}


#percentAmount
{
	margin-top: 5px;
	display: inline-block;
}

#invoiceTitle
{
	text-align: center;
	margin-top: 10px;
	font-family: 'Jockey One';
	font-size: 30px;
}

#invoiceID
{
	position: absolute;
	color: #64657A;
	right: 32px;
	top: 16px;
}

#invoiceDescription
{
	text-align: center;
	padding: 0 10px;
}

.qr-linkInvoice
{
	background-color: #FFF;
	width: 152px;
	padding: 5px;
	height: 152px;
	margin: 16px auto;
	border-radius: 4px;
}

.container
{
	padding:0;
}

#leftInfoInvoice
{
	min-width: 300px;
	width: 50%;
	height: 290px;
	float: left;

	background-color: #333449;
	border-radius: 4px;
	opacity: 0;
}

#video
{
	text-align: center;
	margin-bottom: 10px;
	height: 380px;
	padding: 0 10px;
	display: none;

}

#betaAdvisory
{
	background-color: #F49500;
	border-radius: 7px;
	padding: 10px;
	text-align: center;
	color: #FFF;
	position: relative;
	margin-bottom: 10px;
	text-shadow: 1px 1px 1px #252638;
}

#rightInfoInvoice
{
	min-width: 300px;
	width: 50%;
	height: 290px;
	float: left;
	text-align: center;
}

#receiveCount
{
	display: none;
	text-align: center;
	margin-top: -14px;
	margin-bottom: 10px;
}

#address
{
	position: absolute;
	font-size: 14px;
	bottom: -29px;
	left: -38px;
}

#addressTxt
{
	position: absolute;
	top: -28px;
	left: 50%;
	width: 150px;
	-webkit-transform: translateX(-50%);
	font-size: 14px;
	color: #DDD;
}

.progress-radial {
  position: relative;
  display: block;
  margin: auto;
  /*transform: translate(-50%, 50%);*/
}

#progressText
{
	color: #FFF;
}

#progressDesc
{
	display: none;
}

.progress-radial-track {
  fill: #FFF;
}

.progress-radial-bar {
  fill: #F49500;
}


.break
{
	display: none;
}

.grayText
{
	color: #64657A;
}

@media all and (max-width: 640px) {
	.break
	{
		float: left;
		margin: 2px 0 10px 0;
		display: block;
	}

	#leftInfoInvoice
	{
		width: 100%;
	}

	#rightInfoInvoice
	{
		width: 100%;
		margin-top: 15px;
	}
	#video
	{
		height: 210px;	
	}

}

@media all and (max-width: 450px) {

	.balance
	{
		font-size: 16px;
	}

	#invoiceTitle
	{
		font-size: 20px;
	}
	

	#addressInvoice
	{
		font-size: 12px;
	}
	#invoiceID
	{
		display: none;
	}
}